# Explore `meta-kaggle` Dataset

## --- Data Clean

Pre-requisites: 

1. Install Python package `kaggle`
2. [Create token](https://www.kaggle.com/docs/api) and 
3. Put the `kaggle.json` file to the `.kaggle` folder of your home directory
4. Download dataset `meta-kaggle` if haven't yet, by excuting: 
   ```python
   import api
   api.download_rawdata(rawdata_path)
   ```

In [1]:
# std library
import os
import json
from datetime import datetime, timedelta
from pprint import pprint

# third-party
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

# local
from datafilter import table_filter
from leaderboard import Leaderboard

In [2]:
rawdata_path = os.path.abspath('./__rawdata__')

### 1. Mapping Datasets

Create a dataset of submissions, containing the following fields:
- Id 
- TeamId 
- CompetitionId 
- SubmissionDate
- PublicScore
- PrivateScore

In [3]:
# Submissions
# - TeamId
# - SubmissionDate
tbl_submissions = table_filter( \
	'Submissions', rawdata_path,
	fields = ['Id', 'TeamId', 'SubmissionDate', 'IsAfterDeadline',
		'PublicScoreLeaderboardDisplay', 'PrivateScoreFullPrecision'],
	fields_index = ['Id'],
	fields_datetime = ['SubmissionDate'],
)
# drop all submissions after deadlines
tbl_submissions = tbl_submissions[~tbl_submissions['IsAfterDeadline']]
tbl_submissions.drop('IsAfterDeadline', axis=1, inplace=True)
# rename long name
tbl_submissions.rename(columns={
	'PublicScoreLeaderboardDisplay': 'PublicScore',
	'PrivateScoreFullPrecision': 'PrivateScore'
}, inplace=True)
# drop duplicated
## One team can submit only once at a time point
tbl_submissions = tbl_submissions.drop_duplicates(subset=['SubmissionDate', 'TeamId'])

In [4]:
# Mapping: Teams
# - CompetitionId
map_teams_competitions = table_filter( \
	'Teams', rawdata_path,
	fields = ['Id', 'CompetitionId'],
	fields_index = ['Id'],
)

In [5]:
# Merge `Submissions` and `TeamsCompetition`
tbl_submissions = pd.merge(tbl_submissions, map_teams_competitions,
	how = 'left', left_on = 'TeamId', right_on = 'Id', sort = False,
	suffixes=('', '_Team'))
tbl_submissions.drop(columns='Id_Team', inplace=True)
tbl_submissions.dtypes

Id                         int64
TeamId                     int64
SubmissionDate    datetime64[ns]
PublicScore              float64
PrivateScore             float64
CompetitionId              int64
dtype: object

### 2. Splitting Contests by Types, Filter

In [6]:
# Table of Contests
tbl_contests = table_filter( \
	'Competitions', rawdata_path,
	fields=['Id',
		'EnabledDate', 'DeadlineDate', 'ProhibitNewEntrantsDeadlineDate',
		'TeamMergerDeadlineDate', 'TeamModelDeadlineDate', 'TeamModelDeadlineDate',
		'ModelSubmissionDeadlineDate',
		'HasLeaderboard', 'LeaderboardPercentage', 'MaxDailySubmissions',
		'RewardType', 'RewardQuantity', 'NumPrizes',
		'FinalLeaderboardHasBeenVerified'
	],
	fields_datetime=[
		'EnabledDate', 'DeadlineDate', 'ProhibitNewEntrantsDeadlineDate',
		'TeamMergerDeadlineDate', 'TeamModelDeadlineDate', 'TeamModelDeadlineDate',
		'ModelSubmissionDeadlineDate'
	],
	fields_index=['Id'],
)
len(tbl_contests)

9442

In [7]:
print('>>> Filter 1: How many contests are there having records of submissions from players?')
lst_contests_with_submissions = tbl_submissions['CompetitionId'].unique()
print(len(lst_contests_with_submissions))

# Filter 1
print('>>> We only consider these contests')
tbl_contests = tbl_contests[tbl_contests['Id'].isin(lst_contests_with_submissions)]
tbl_submissions = tbl_submissions.loc[tbl_submissions['CompetitionId'].isin(tbl_contests['Id'])]

>>> Filter 1: How many contests are there having records of submissions from players?
5693
>>> We only consider these contests

In [8]:
print('>>> Filter 2: In above, how many contests are there having public leaderboard?')
lst_contests_with_leaderboard = tbl_contests.loc[tbl_contests['HasLeaderboard']==True]['Id']
print(len(lst_contests_with_submissions))

# Filter 2
print('>>> We only consider these contests')
tbl_contests = tbl_contests[tbl_contests['Id'].isin(lst_contests_with_leaderboard)]
tbl_submissions = tbl_submissions.loc[tbl_submissions['CompetitionId'].isin(tbl_contests['Id'])]

>>> Filter 2: In above, how many contests are there having public leaderboard?
5693
>>> We only consider these contests

In [9]:
print('>>> Is there never-ending contests?')
forever_date = datetime(2029, 1, 1, 0, 0, 0)
print((tbl_contests['DeadlineDate'] > forever_date).sum())
print((tbl_contests['DeadlineDate'].isna()).sum())

>>> Is there never-ending contests?
0
0

In [10]:
print('>>> How many reward types are there?')
print(tbl_contests['RewardType'].value_counts(dropna=False))

>>> How many reward types are there?
RewardType
NaN          4777
USD           407
Knowledge     381
Swag           95
Jobs           14
Kudos          10
Prizes          6
EUR             1
Name: count, dtype: int64

In [11]:
print('>>> List of the number of contests providing multiple prize:')
pprint(tbl_contests['NumPrizes'].value_counts())

>>> List of the number of contests providing multiple prize:
NumPrizes
1     4721
0      498
3      292
5       82
4       28
10      18
6       16
2       11
8       10
7        9
9        4
13       1
12       1
Name: count, dtype: int64

In [12]:
# Split contests with prize type
lst_contest_Usd = tbl_contests.loc[tbl_contests['RewardType']=='USD']['Id']
lst_contest_Knowledge = tbl_contests.loc[tbl_contests['RewardType']=='Knowledge']['Id']
lst_contest_Swag = tbl_contests.loc[tbl_contests['RewardType']=='Swag']['Id']
lst_contest_Kudos = tbl_contests.loc[tbl_contests['RewardType']=='Kudos']['Id']
lst_contest_EUR = tbl_contests.loc[tbl_contests['RewardType']=='EUR']['Id']

# Split contests with prize number
lst_contest_1_prize = tbl_contests.loc[tbl_contests['NumPrizes']==1]['Id']
lst_contest_2_prize = tbl_contests.loc[tbl_contests['NumPrizes']==2]['Id']
lst_contest_3_prize = tbl_contests.loc[tbl_contests['NumPrizes']==3]['Id']
lst_contest_4_prize = tbl_contests.loc[tbl_contests['NumPrizes']==4]['Id']
lst_contest_5_prize = tbl_contests.loc[tbl_contests['NumPrizes']==5]['Id']
lst_contest_6_prize = tbl_contests.loc[tbl_contests['NumPrizes']==6]['Id']
lst_contest_7_prize = tbl_contests.loc[tbl_contests['NumPrizes']==7]['Id']
lst_contest_8_prize = tbl_contests.loc[tbl_contests['NumPrizes']==8]['Id']
lst_contest_9_prize = tbl_contests.loc[tbl_contests['NumPrizes']==9]['Id']

### 3. Select contest providing single USD prize

In [13]:
# select
tbl_contest_1_Usd_prize = tbl_contests[tbl_contests['Id'].isin(lst_contest_Usd)]
tbl_contest_1_Usd_prize = tbl_contest_1_Usd_prize[tbl_contest_1_Usd_prize['Id'].isin(lst_contest_1_prize)]

# filter
tbl_contest_1_Usd_prize = tbl_contest_1_Usd_prize.loc[tbl_contest_1_Usd_prize['RewardQuantity'] > 0]
lst_contest_1_Usd_prize = tbl_contest_1_Usd_prize['Id'].values

In [14]:
lst_contest_1_Usd_prize, len(lst_contest_1_Usd_prize)

(array([2435, 2445, 2448, 2452, 2454, 2464, 2467, 2478, 2479, 2487, 2488,
        2496, 2549, 2589, 2762, 2860, 2895, 2963, 3065, 3294, 3364, 3370,
        3377, 3385, 3386, 3469, 3493, 3507, 3521, 3526, 3586, 3706, 3867,
        3928, 3973, 3984, 4195, 4378, 4383, 4493, 4495, 4704]),
 42)

### 4. Extract Info from these Contests

In [15]:
tbl_contests.columns

Index(['Id', 'EnabledDate', 'DeadlineDate', 'ProhibitNewEntrantsDeadlineDate',
       'TeamMergerDeadlineDate', 'TeamModelDeadlineDate',
       'ModelSubmissionDeadlineDate', 'FinalLeaderboardHasBeenVerified',
       'HasLeaderboard', 'LeaderboardPercentage', 'MaxDailySubmissions',
       'RewardType', 'RewardQuantity', 'NumPrizes'],
      dtype='object')

In [16]:
def contest_basic_setting(contest_id: int):
	tbl_contest_info = tbl_contests.loc[tbl_contests['Id'] == contest_id]
	# prize
	prize = tbl_contest_info['RewardQuantity'].iloc[0]
	# deadline
	deadline = tbl_contest_info['DeadlineDate'].iloc[0].to_pydatetime()
	deadline = deadline.replace(hour=0, minute=0, second=0, microsecond=0)
	deadline += timedelta(days=1)
	# others
	max_daily_submit = tbl_contest_info['MaxDailySubmissions'].iloc[0]
	percentage = tbl_contest_info['LeaderboardPercentage'].iloc[0]
	return deadline, prize, max_daily_submit, percentage

def contest_basic_submission_info(contest_id: int) -> pd.DataFrame:
	tbl = tbl_submissions.loc[tbl_submissions['CompetitionId']==contest_id]
	print('>>> How many teams are there in this contest?')
	print(tbl['TeamId'].unique().size)
	print('>>> How many submissions are there in total?')
	print(len(tbl))
	print('>>> List the number of submissions for the most active 5 teams:')
	print(tbl.groupby('TeamId').size().sort_values(ascending=False).head(5))
	return tbl

def randomize_within_day(group: pd.Series, seed = 1234):
	rgn = np.random.default_rng(seed)
	seconds = rgn.choice(range(86400), size=len(group), replace=False)
	seconds.sort()
	randomized_times = group + pd.to_timedelta(seconds, unit='s')
	return randomized_times

def leaderboard_fulfill(tbl_contest_submissions, deadline: datetime):
	leaderboard_public = Leaderboard()
	leaderboard_private = Leaderboard()
	tbl_contest_submissions_sorted = tbl_contest_submissions.sort_values(by='SubmissionDate')
	submission_dates = tbl_contest_submissions_sorted['SubmissionDate']
	submission_datetimes = submission_dates.groupby(submission_dates).apply(randomize_within_day).reset_index(level=0, drop=True)
	for idx_row, row in tbl_contest_submissions_sorted.iterrows():
		time = submission_datetimes[idx_row].to_pydatetime()
		if time > deadline:
			break
		team_id = row['TeamId']
		score_pub = row['PublicScore']
		score_pri = row['PrivateScore']
		leaderboard_public.refresh(time, team_id, score_pub)
		leaderboard_private.refresh(time, team_id, score_pri)
	return leaderboard_public, leaderboard_private

def save_contest_data(contest_id, team_i_id: int, team_j_id: int):
	# json file & utils
	wd = os.getcwd()
	wd_synthetic_data = os.path.join(wd, f'__jsondata__/contest_{contest_id}.json')
	roundint = lambda x: int(round(x))

	# contest setting
	deadline, prize, max_daily_submit, percentage = contest_basic_setting(contest_id)
	param_theta = prize / 1000
	param_r = 15
	time_unit_2f = 1 / 24

	# observations
	contest_submissions = tbl_submissions.loc[tbl_submissions['CompetitionId']==contest_id]
	leaderboard_pub, _ = leaderboard_fulfill(contest_submissions, deadline)

	tbl_hat_y = leaderboard_pub.real_time_gap_between(team_i_id, team_j_id, delta=timedelta(hours=1))
	start_time: datetime = tbl_hat_y['time'].iloc[0].to_pydatetime()
	end_time: datetime = tbl_hat_y['time'].iloc[-1].to_pydatetime() + timedelta(hours=1)
	observed_gap_dynamic = tbl_hat_y['hat_y'].tolist()

	observed_i_commits = leaderboard_pub.submission_records_of(team_i_id)['time']
	observed_i_commits = observed_i_commits.loc[observed_i_commits > start_time].tolist()
	observed_j_commits = leaderboard_pub.submission_records_of(team_j_id)['time']
	observed_j_commits = observed_j_commits.loc[observed_j_commits > start_time].tolist()

	with open(wd_synthetic_data, 'w') as f:
		json.dump({
			'theta': param_theta,
			'ratio': param_r,
			'N_Delta': roundint((end_time - start_time).total_seconds() / 3600),
			'Delta2f': time_unit_2f,
			'Ni': len(observed_i_commits),
			'Nj': len(observed_j_commits),
			'hat_t_i': [(dt - start_time).total_seconds() / 3600 for dt in observed_i_commits],
			'hat_t_j': [(dt - start_time).total_seconds() / 3600 for dt in observed_j_commits],
			'hat_y': observed_gap_dynamic,
		}, f, indent=4)

### 5. Example

In [17]:
lst_contest_1_Usd_prize

array([2435, 2445, 2448, 2452, 2454, 2464, 2467, 2478, 2479, 2487, 2488,
       2496, 2549, 2589, 2762, 2860, 2895, 2963, 3065, 3294, 3364, 3370,
       3377, 3385, 3386, 3469, 3493, 3507, 3521, 3526, 3586, 3706, 3867,
       3928, 3973, 3984, 4195, 4378, 4383, 4493, 4495, 4704])

In [18]:
contest_id = 2467

# Contest settings
deadline, prize, max_daily_submit, percentage = contest_basic_setting(contest_id)
print('>>> prize =', prize)
print('>>> percentage =', percentage, '%')
print('>>> daily submit (max) =', max_daily_submit)
print('>>> deadline =', deadline)

# Display basic info
tbl_submissions_specific = contest_basic_submission_info(contest_id)

# Create leaderboard
leaderboard_pub, leaderboard_pri = leaderboard_fulfill(tbl_submissions_specific, deadline)

>>> prize = 10000.0
>>> percentage = 30 %
>>> daily submit (max) = 2
>>> deadline = 2011-02-14 00:00:00
>>> How many teams are there in this contest?
354
>>> How many submissions are there in total?
1829
>>> List the number of submissions for the most active 5 teams:
TeamId
1898    68
2013    41
1692    33
2622    32
2488    31
dtype: int64

In [27]:
candicates = leaderboard_pri.get_final_rank()[:5]
candicates_set = set()
for c in candicates:
	candicates_set.add(c)
candicates_set

{1599, 1624, 1668, 1757, 3349}

In [ ]:
def select_2_strongest(contest_id: int) -> tuple[int, int]:
	"""
	"""
	tbl = tbl_submissions.loc[tbl_submissions['CompetitionId']==contest_id]
	leaderboard_pub, leaderboard_pri = leaderboard_fulfill(tbl_submissions_specific, deadline)
	pub_final_rank = leaderboard_pub.display(-1)
	pri_final_rank = leaderboard_pri.display(-1)

	return 0, 0

In [21]:
# Select the 2 Strongest Players
_, tbl_submissions_specific_pri_top = leaderboard_pri.display(-1, 10)
print(tbl_submissions_specific_pri_top)

   rank         score  submit_count  participate_days  last_submit_days_ago
0  1668  66551.296875             9                80                     4
1  1599    821.607971             3                81                    72
2  1624    798.408020             1                81                    81
3  3349    797.265015             1                 8                     8
4  1757    720.054016             5                75                    66
5  1783    666.775024             6                74                    65
6  3464    665.335999             2                 3                     2
7  1643    661.796997             7                80                    67
8  3587    557.682007             1                 0                     0
9  3484    518.742004             1                 3                     3

In [22]:
leaderboard_pub.display(-1, 10)

(datetime.datetime(2011, 2, 13, 23, 48, 12),
    rank        score  submit_count  participate_days  last_submit_days_ago
 0  1668  68301.89843             9                80                     4
 1  1643    958.26300             7                80                    67
 2  1624    832.48101             1                81                    81
 3  1599    830.48797             3                81                    72
 4  3349    814.11199             1                 8                     8
 5  1757    725.29901             5                75                    66
 6  3464    685.97601             2                 3                     2
 7  1783    673.47399             6                74                    65
 8  3587    557.73498             1                 0                     0
 9  3527    543.85302             1                 1                     1)

In [23]:
leaderboard_pub.submission_records_of(1898)

                  time  rank      score
0  2010-12-03 03:19:49    32  234.02099
0  2010-12-04 12:51:51    55  226.80000
0  2010-12-05 02:31:01    57  226.14300
0  2010-12-06 05:48:06    36  239.60899
0  2010-12-07 04:06:41    70  224.21200
..                 ...   ...        ...
0  2011-02-04 07:38:35   266  199.30099
0  2011-02-05 05:48:03   269  199.07699
0  2011-02-06 22:08:58   279  199.06700
0  2011-02-07 10:34:53   279  199.04200
0  2011-02-08 19:05:42   286  199.07299

[68 rows x 3 columns]

In [24]:
leaderboard_pub.submission_records_of(1599)

                 time  rank      score
0 2010-11-24 23:30:00    12  222.69000
0 2010-11-25 09:07:24     1  822.42999
0 2010-12-03 07:39:27     1  830.48797

We select 2 based on private leaderboard.

In [25]:
tbl_hat_y = leaderboard_pub.real_time_gap_between(2336, 2394, delta=timedelta(hours=1))
tbl_hat_y

KeyError: 'time'

In [ ]:
# Save Contest Data to `.json` File
save_contest_data(contest_id, 2336, 2394)